[submodule "sourcedata/friends.fmriprep"]
	path = sourcedata/friends.fmriprep
	url = git@github.com:courtois-neuromod/friends.fmriprep.git
	datalad-id = cbfd6482-5670-4f39-ba1b-9623f1f460b8
	datalad-url = git@github.com:courtois-neuromod/friends.fmriprep.git
